@page
@model MaswadehEyadSprint4.Pages.About_UsModel
@{
}

<div class="row">
<div class="col-sm-12 text-center BM">
    <h1 class="display-4 ">About US</h1>
</div>
</div>

@*This talks about the two owners of the business*@

<div class="Row flexcontainer">
    <div class="col-sm-6">
        <img src="~/images/management.jpg" alt="" class="img-fluid d-block mx-auto myborder" />
    </div>
    <div class="col-sm-6">
        <p>
            Sarah and Michael Johnson, is a joyful ice cream haven where Sarah's unique flavors and Michael's warm hospitality create a delightful 
            experience. Together, they've turned their shop into a beloved destination for sweet moments and community joy. 🍦✨
        </p>
    </div>
</div>

@*making us different section of the website*@
<div class="row">
<div class="col-sm-12 BM">
    <h1 class="display-4">What Makes Us Different?</h1>
</div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img src="~/images/management2.jpg" alt="" class="img-fluid d-block mx-auto myborder" />
    </div>
    <div class="col-sm-6">
        <p>
            "Scoops & Smiles" is the heartwarming saga of Sarah and Michael Johnson, turning their ice cream dreams into a thriving reality. 
            With Sarah's flavor wizardry and Michael's business charm, they whipped up a joyful haven that's not just an ice cream shop—it's a 
            community scoop of happiness where dreams come in delicious flavors! 🍦✨

        </p>
    </div>
</div>


@*Mission statement*@
<div class="row">
    <div class="col-sm-12">
        <h1>Our Mission</h1>
    </div>
</div>

<div class="row BM">
    <div class="col-lg-12">
        <p>
            Scoops & Smiles is on a mission to sprinkle joy into every day, offering handcrafted ice cream delights made with the finest 
            ingredients and a dash of imagination. From creating memorable experiences to fostering a warm and welcoming atmosphere, it's 
            a delightful journey of flavors and happiness where every scoop is a sweet celebration. 🍦✨
        </p>
    </div>
</div>